# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/typo3temp/
/typo3conf/autoload/
/typo3conf/sites/
/typo3conf/system/
/typo3conf/ext/bootstrap_package/
/typo3conf/ext/introduction/
/typo3conf/PackageStates.php
/fileadmin/

symlinks.php



