# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/typo3temp/
/typo3conf/autoload/
/typo3conf/sites/
/typo3conf/system/
/typo3conf/ext/introduction/
/typo3conf/PackageStates.php

symlinks.php



/fileadmin/_processed_/
/fileadmin/_temp_/
/fileadmin/images/
/fileadmin/introduction/
/fileadmin/user_upload/
/typo3conf/ext/bootstrap_package/CHANGELOG.md
/typo3conf/ext/bootstrap_package/composer.json
/typo3conf/ext/bootstrap_package/ext_conf_template.txt
/typo3conf/ext/bootstrap_package/ext_emconf.php
/typo3conf/ext/bootstrap_package/ext_localconf.php
/typo3conf/ext/bootstrap_package/ext_tables.php
/typo3conf/ext/bootstrap_package/ext_tables.sql
/typo3conf/ext/bootstrap_package/LICENSE
/typo3conf/ext/bootstrap_package/README.rst
/typo3conf/ext/bootstrap_package/Classes/
/typo3conf/ext/bootstrap_package/Configuration/
/typo3conf/ext/bootstrap_package/Contrib/
/typo3conf/ext/bootstrap_package/Documentation/
/typo3conf/ext/bootstrap_package/Resources/Private/Forms/
/typo3conf/ext/bootstrap_package/Resources/Private/Language/
/typo3conf/ext/bootstrap_package/Resources/Private/Layouts/
/typo3conf/ext/bootstrap_package/Resources/Private/Partials/
/typo3conf/ext/bootstrap_package/Resources/Private/Source/
/typo3conf/ext/bootstrap_package/Resources/Private/Templates/
/typo3conf/ext/bootstrap_package/Resources/Public/
/typo3conf/ext/ods_osm/Resources/Public/JavaScript/Leaflet/leaflet-geosearch/
